{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Project DEtails{% endblock %}

{% block body %}

<div class="detailProduct">
    <h3>Details of project {{ product.name }} with version {{ product.version }}</h3><br/>
    	
    	
    
    {{ product.description }}<br/><br/>
    <div class="productComment">
        {% for comment in product.getComments() %}
        	{% for file in comment.getFiles() %}
        		{% if file.getMimeType()|slice(0,6) == 'image/' %}
            		<img src="{{ file.getFileUrl() }}" alt="{{ file.getName() }}">
            	{% else %}
            		<button class="btn-warning"><a href="{{ file.getFileUrl() }}">{{ file.getName() }}</a></button>
        		{% endif %}
        		
            {% endfor %}
            {{ comment.getComment() }}
        {% endfor %}
    </div>
    
    {{ form(formComment) }}
        
    <button class="btn btn-block btn-success"><a href="{{ path ('list_product') }}">BACK</a></button><br/><br/>
</div>	
	
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="/js/commentFileAdder.js" type="text/javascript"></script>
	
{% endblock %}